.abt {
  margin: 4rem 6rem;
  text-align: start;
}

.abt h1 {
  padding-bottom: 1rem;
}

.abt p {
  padding-bottom: 2rem;
}

@media screen and (max-width: 850px) {
  .abt {
    margin: 4rem 2rem;
  }
}
