.cnnt {
  margin: 4rem 6rem;
  text-align: start;
}

.cnt h1 {
  padding-bottom: 1rem;
}

.cnt p {
  padding-bottom: 1rem;
}

.form-con {
  margin-top: 3rem;
  color: #2a2a2a;
}

.form-con form {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.form-con input {
  height: 3rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
  border-radius: 0.4rem;
  border: 1px solid #2a2a2a;
}

.form-con textarea {
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 1px solid #2a2a2a;
}

.form-con button {
  display: inline;
  background: springgreen;
}

.form-con button:hover {
  background: black;
  color: white;
}

@media screen and (max-width: 850px) {
  .cnnt {
    margin: 4rem 2rem;
  }

  .form-con form {
    padding-top: 2rem;
    width: 80%;
  }
}
