.footer {
  background: #1a2b6d;
  padding: 4rem 6rem;
  color: white;
}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer a {
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
}

.bottom {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom h4 {
  font-size: 1.3rem;
  padding: 1rem 0 0.8rem 0;
}

.bottom a {
  text-decoration: none;
  color: #fafafa;
  font-size: 1.1rem;
  padding-bottom: 0.4rem;
}

@media screen and (max-width: 640px) {
  .footer {
    padding: 4rem 2rem;
  }

  .footer a {
    margin: 1rem 1rem 0 0;
  }

  .bottom {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
  }
}
