.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.about {
  width: 100%;
  height: 80vh;
  position: relative;
}

.tour {
  width: 100%;
  height: 80vh;
  position: relative;
}

.service {
  width: 100%;
  height: 80vh;
  position: relative;
}

.contact {
  width: 100%;
  height: 80vh;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 100%;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 800;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about h1 {
  font-size: 3rem;
  font-weight: 800;
  background: white;
  padding-top: 4rem !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service h1 {
  font-size: 3rem;
  font-weight: 800;
  background: white;
  padding-top: 3rem !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.tour h1 {
  font-size: 3rem;
  font-weight: 800;
  background:black;
  padding-top: 3rem !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact h1 {
  font-size: 3rem;
  font-weight: 800;
  background: white;
  padding-top: 4rem !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text p {
  font-size: 1.5rem;
  padding: 0.5rem 0 2rem 0;
  color: white;
  font-weight: 400;
}

.hero-text .show {
  text-decoration: none;
  background: wheat;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #222;
}

.hero-text .hide {
  display: none;
}

@media screen and (max-width: 555px) {
  .hero-text h1 {
    padding: 10px 20px;
  }

  .hero-text p {
    font-size: 1.1rem;
    padding: 0 0 2rem 0;
  }

  .hero-text .show {
    padding: 0.6rem 1.1rem;
    border-radius: 6px;
    font-size: 1rem;
  }
}
