.signup {
  padding: 4rem 6rem;
}

.maain {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  /* max-width: 900px;
  height: 600px; */
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 50%;
  height: inherit;
  border-radius: 10px 0 0 10px;
}

.left img {
  object-fit: cover;
  width: auto;
  height: 350px;
  /* box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19); */
  border-radius: 6px;
}

.right {
  background: #fff;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  padding-left: 2rem;
  border-radius: 0 10px 10px 0;
  justify-content: center;
}

.right h2 {
  font-size: 3rem;
}

.right form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.right label {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: start;
}

.right input {
  height: 3rem;
  /* margin-bottom: 2rem; */
  padding: 0 1rem;
  border-radius: 0.4rem;
  border: 1px solid #2a2a2a;
}

.right button {
  display: inline;
  background: rgb(71, 163, 200);
}

.right button:hover {
  background: black;
  color: white;
}

@media screen and (max-width: 850px) {
  .signup {
    padding: 4rem 2rem;
  }

  .maain {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
  }

  .left {
    width: 100%;
    margin: 1.8rem 0;
  }
  .right {
    width: 100%;
    align-items: center;
  }

  .right form {
    width: 80%;
  }
}
