.trip {
  margin: 6rem 6rem;
  color: #2a2a2a;

}

.trip h1 {
  font-size: 3rem;
}

.tripcard {
    margin-top: 3rem;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.t-card {
  width: 50;
  text-align: justify;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
  cursor: pointer;
  border-radius: 7px;
  padding: 1rem 0.8rem;
}

.butt {
  text-decoration: none;
  background-color: orange;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  position: absolute;
  margin-top: 1rem;
}

.t-image {
  height: 300px;
  border-radius: 7px;
  overflow: hidden;
}

.t-image img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  border-radius: 7px;
}

.t-image:hover img {
  transform: scale(1.3);
}

.t-card h4 {
  font-size: 1.3rem;
  padding: 0.9rem 0 0.2rem 0;
}

@media screen and (max-width: 850px) {
  .trip {
    margin: 4rem 2rem;
  }

  .tripcard {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .t-image {
    height: 200px;
  }

  .t-card {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .butt {
    text-decoration: none;
    background-color: orange;
    color: black;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.3rem 0.6rem;
    white-space: nowrap;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    position: relative;
    margin-top: 0.7rem;
  }
}
